<div id="main_navigation">
  <ul>
    <li id="nav_home"><%= link_to 'Home', root_path %></li>
    <li id="nav_about"><%= link_to 'About', :controller => '/main', :action => 'about' %></li>
    <li id="nav_players"><%= link_to 'Players', :controller => '/main', :action => 'players' %></li>
    <li id="nav_leagues"><%= link_to 'Leagues', :controller => '/main', :action => 'leagues' %></li>
    <li id="nav_contact"><%= link_to 'Contact', :controller => '/main', :action => 'contact' %></li>
  </ul>
</div>
