<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">
<head> 
  <title>Cuewars</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body id="<%= controller.controller_name %>" class="<%= controller.action_name %>">
<div id="wrapper">
<div id="top_strip">
  <div class="container_16 clearfix"> 
    <% if player_signed_in? %>
      <p class="text_right">You are signed in as <strong><%= current_player.email %></strong></a>:&nbsp;  &nbsp; &nbsp; <%= link_to 'My Account', account_root_path %>&nbsp;  &nbsp; <%= link_to 'Sign Out', destroy_player_session_path %></p>
    <% else -%>
     <p class="text_right">You are not logged in: <%= link_to 'Sign In', new_player_session_path %> or <%= link_to 'Register', new_player_registration_path %></p>
    <% end %>
  </div>
</div>
  <div id="header" class="clearfix">
    <div class="container_16 clearfix"> 
      <div class="grid_4"> 
        <div id="logo"> 
          <h1> 
          <%= link_to 'CueWars', root_path %> 
          </h1> 
          <h2>Let the battle commence</h2> 
        </div>
      </div> 
      <div class="grid_11 prefix_1"> 
      	<div id="nav"> 
          <%= render :partial => '/layouts/shared/main_navigation' %>
    		</div>
      </div>
    </div>
  </div>

  		<%= yield :impact_banner %>
  
  <div id="content"> 
  	<div class="container_16 clearfix">
      <%= yield %>
    </div>
  </div>
</div>
</body>
</html>
